



body{
    width: 100%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.main{
    border: 1px black solid;
    margin: 0 1.5em 0 1.5em;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .Titre_du_site{
        margin: 1rem 0 0 1rem;
    }

    .Menu_du_header{
        display: flex;
        flex-direction: row;
    }

    .ul_menu{
        list-style-type: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .elements_menu, .elements_menu_3{
        font-size: 1.3em;
        margin: 0 0 0 0;
        padding: 1em 2em 1em 2em;
        border: 2px solid #ffffff;
    }

    .elements_menu_3:hover{
        color: #0065FC;
        cursor: pointer;
    }

    .elements_menu:hover{
        color: #0065FC;
        border-top: 2px solid #0065FC ;
        cursor: pointer;
    }

    .elements_menu_3{
        color: #0065FC;
        font-weight: 700;
        cursor: pointer;
    }



.Bloc_de_recherche{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 1em;
}

.site_search{
    border: 1px #F2F2F2 solid;
    display: block;
    padding: 0.8em 0.8em 0.8em 0.8em;
}

.fa-map-marker-alt{
    color: black;
    padding: 0.75em 0.8em 0.75em 0.8em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
}

.bouton_recherche{
    margin: 0;
    color: white;
    font-weight: 800;
    background-color: #0065FC;
    border-color: #0065FC;
    border: 0;
    padding: 0.8em 1em 0.8em 1em;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.texte_rechercher{
    padding: 0;
    margin: 0;
}

.fas.fa-search{
    display: none;
}

.bouton_recherche:hover{
    background-color: #DEEBFF;
    color: #0065FC;
    border-color: #0065FC;
    cursor: pointer;
}

.Filtres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1em;
    font-weight: 800;
}


.titre_filtre{
    align-self: center;
    padding-right: 1em;
}

.blocs_filtres{
    border: 1.5px solid #DEEBFF;
    border-radius: 25px;
    padding-right: 1em;
    margin-right: 1em;
}

.blocs_filtres:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}

.blocs_filtres:hover .fas{
    background-color: #0065FC;
    border-color: #0065FC;
    color: #DEEBFF;
    cursor: pointer;
}

.fa-money-bill-wave{
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 0.6em;
    border-radius: 100%;
    margin-right: 0.5em;
    padding: 0.6em 0.5em 0.6em 0.5em;
}

.fa-child{
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 0.6em;
    border-radius: 100%;
    margin-right: 0.5em;
    padding: 0.6em 0.7em 0.6em 0.7em;
}

.fa-heart{
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 0.6em;
    border-radius: 100%;
    margin-right: 0.5em;
    padding: 0.6em 0.7em 0.6em 0.7em;
}

.fa-dog{
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 0.6em;
    border-radius: 100%;
    margin-right: 0.5em;
    padding: 0.6em 0.7em 0.6em 0.7em;
}

.bloc_du_petit_i{
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 0.9rem;
}

.fa-info{
    color: #0065FC;
    font-size: 0.8em;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border: 2px #F2F2F2 solid;
    border-radius: 100%;
    margin-right: 0.5rem;
}






.Les_deux_gros_blocs{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

.titre_hebergements{
    margin-left: 1rem;
}

.Hebergements{
    width: 70%;
    padding: 1.5rem;
    background-color: #F2F2F2;
    margin: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

    .ligne_hebergements{
        display: flex;
        flex-direction: row;
    }

    .boite_auberge_hotel{
        margin: 1rem 1rem 1rem 1rem;
        background-color: white;
        border-radius: 35px;
        padding: 0.5rem;
        height: 18em;
        width: 30%;
        box-shadow: 10px 10px 15px #E9E9E9;
    }

    .boite_auberge_hotel:hover{
        box-shadow: 0px 0px 25px #8a8a8a;
        cursor: pointer;
    }

    .images_boites{
        width: 100%;
        height: 55%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        object-fit: cover;
    }

    .nom_auberge_hotel{
        margin: 1rem 1.5rem 1rem 1.5rem;
        width: 95%;
    }

    .description_auberge_hotel{
        margin: 1rem 1.5rem 1rem 1.5rem;  
        width: 95%;
    }

    .icones_etoiles{
        margin: 1rem 1.5rem 1rem 1.5rem; 
        width: 95%;
    }

    .afficher_plus{
        margin: 1.5rem 1rem 3rem 1.2rem;
        font-weight: 800;
        font-size: 1.2rem;
    }

    .afficher_plus:hover{
        text-decoration: underline;
        cursor: pointer;
    }






.Les_plus_populaires{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #F2F2F2;
    margin: 1rem;
    border-radius: 20px;
}

    .titre_populaire_et_graph{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 1rem;
    }

    .titre_populaire_et_graph .fas{
        font-size: 1.5rem;
        cursor: pointer;
        color: black;
    }

    .colonne_populaires{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .boite_auberge_hotel_populaire{
        margin: 1rem 1rem 1rem 1rem;
        padding: 0.5rem;
        background-color: white;
        border-radius: 35px;
        display: flex;
        flex-direction: row;
        height: 12rem;
        box-shadow: 10px 10px 15px #E9E9E9;
    }

    .boite_auberge_hotel_populaire:hover{
        box-shadow: 0px 0px 25px #8a8a8a;
        cursor: pointer;
    }

    .images_boites_populaire{
        width: 30%;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        object-fit: cover;
    }

    .nom_auberge_hotel_populaires{
        margin: 1rem 1.5rem 1rem 1.5rem;
    }

    .description_auberge_hotel_populaires{
        margin: 1rem 1.5rem 1rem 1.5rem;
    }

    .push{
        margin-top: 5rem;
    }

    .fas, .far{
        color: #0065FC;
    }







.Activites_marseille{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

    .titre_activites{
        margin-left: 1rem;
    }

    .tout_le_bloc_photos_marseille{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    
    .bloc_1photo_marseille{
        width: 25%;
    }

    .photo_et_titre_bloc_grand{
        margin: 1rem 1rem 1rem 1rem;
        background-color: white;
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        height: 95%;
        box-shadow: 10px 10px 15px #E9E9E9;
    }

    .photo_et_titre_bloc_grand:hover{
        box-shadow: 0px 0px 25px #8a8a8a;
    }

    .image_activites_grand{
        width: 100%;
        height: 90%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        object-fit: cover;
    }

    .titre_activite{
        margin: 1rem 1.5rem 1rem 1.5rem;
    }

    .bloc_2photos_marseille{
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    .blocs_activites_moyen{
        margin: 1rem 1rem 1rem 1rem;
        background-color: white;
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        height: 16rem;
        box-shadow: 10px 10px 15px #E9E9E9;
    }

    .blocs_activites_moyen:hover{
        box-shadow: 0px 0px 25px #8a8a8a;
        cursor: pointer;
    }

        .image_activites_moyen{
            width: 100%;
            height: 90%;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            object-fit: cover;
        }

    .blocs_activites_petit{
        margin: 1rem 1rem 1rem 1rem;
        background-color: white;
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        height: 14rem;
        box-shadow: 10px 10px 15px #E9E9E9;
    }

    .blocs_activites_petit:hover{
        box-shadow: 0px 0px 25px #8a8a8a;
        cursor: pointer;
    }

        .image_activites_petit{
            width: 100%;
            height: 95%;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            object-fit: cover;
        }


footer{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    padding: 2em 0 2em 0;
    position: absolute;
    right: 0rem;
    width: 100%;
    margin: 0 0 0 0;
}

    .bloc_footer{
        width: 100%;
    }

    .ul_footer{
        list-style-type: none;
        line-height: 2em;
    }

    .titres_footer{
        margin-left: 2.2em;
    }



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

.Les_deux_gros_blocs{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
   
    .Hebergements{
        width: 90%;
    }
    
        .boite_auberge_hotel{
            margin: 1rem 1rem 1rem 1rem;
            background-color: white;
            border-radius: 35px;
            padding: 0.5rem 0.5rem 1.5rem 0.5rem;
            width: 30%;
            box-shadow: 10px 10px 15px #E9E9E9;
        }
    
        .nom_auberge_hotel{
            margin: 1rem 1.5rem 1rem 0.2rem;
            width: 95%;
        }
    
        .description_auberge_hotel{
            margin: 1rem 1.5rem 1rem 0.2rem;  
            width: 95%;
        }
    
        .icones_etoiles{
            margin: 1rem 1.5rem 1rem 0.2rem; 
            width: 95%;
        }




    .Les_plus_populaires{
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        background-color: #F2F2F2;
        margin: 1rem;
        border-radius: 20px;
     }

            .colonne_populaires{
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        
            .boite_auberge_hotel_populaire{
                margin: 1rem 1rem 1rem 1rem;
                background-color: white;
                border-radius: 35px;
                padding: 0.5rem;
                height: 18em;
                width: 30%;
                box-shadow: 10px 10px 15px #E9E9E9;
                display: flex;
                flex-direction: column;
            }

            .images_boites_populaire{
                width: 100%;
                height: 55%;
                border-bottom-left-radius: 0;
                border-top-right-radius: 30px;
            }
        
            .nom_auberge_hotel_populaires{
                margin: 1rem 1.5rem 1rem 0.2rem;
                width: 95%;
            }
        
            .description_auberge_hotel_populaires{
                margin: 1rem 1.5rem 1rem 0.2rem;
                width: 95%;
            }


        .blocs_activites_petit{
            border-radius: 30px;
            height: 10rem;
        }

        .blocs_activites_moyen{
            border-radius: 30px;
            height: 14rem;
        }

        .photo_et_titre_bloc_grand{
            border-radius: 30px;
            height: 93%;
        }


        .titre_activite{
            margin: 1rem 1.5rem 1rem 1.5rem;
            width: 75%;
        }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

.main{
    margin: 0;
}

    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .Titre_du_site{
            margin: 1rem 0 0 1rem;
        }
    
        .Menu_du_header{
            display: flex;
            flex-direction: row;
        }
    
        .ul_menu{
            border: 1px solid black;
            list-style-type: none;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    
        .elements_menu, .elements_menu_3{
            font-size: 1.3em;
            margin: 0 0 0 0;
            padding: 1em 2em 1em 2em;
            border-bottom: 2px solid #f2f2f2;
        }
    
        .elements_menu:hover{
            color: #0065FC;
            border-top: 2px solid white;
            border-bottom: 2px solid #0065FC ;
            cursor: pointer;
        }

        .elements_menu_3{
            border: 1px solid black;
            color: #0065FC;
            font-weight: 700;
            cursor: pointer;
            width: 100%;
        }
    
    
        .Bloc_avant_recherche{
            margin-left: 1rem;
        }    

        .Bloc_de_recherche{
            margin-left: 1rem;
            margin-right: 1rem;
        }
        
        .site_search{
            border: 1px #F2F2F2 solid;
            display: block;
            padding: 1em 0.8em 1em 0.8em;
            margin-right: -1rem;
            width: 90%;
        }
        
        .fa-map-marker-alt{
            color: black;
            padding: 1.2rem 1rem 1.2rem 1rem;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: #F2F2F2;
        }
        
        .bouton_recherche{
            margin: 1rem 0 1rem 0;
            padding: 1.4em 1em 1.4em 1em;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            z-index: 1;
        }

        .fas.fa-search{
            display: block;
            color: white;
            font-size: 1rem;
        }

        .texte_rechercher{
            display: none;
        }

        .site_search:placeholder-shown{
            font-weight: 800;
            color: black;
            font-size: 1rem;
        }

        .bouton_recherche:hover .fas{
            color: #0065FC;
        }




        .Filtres{
            padding: 0.5rem 0rem 1rem 0rem ;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        
        
        .titre_filtre{
            width: 100%;
        }
        
        .blocs_filtres{
            margin: 0.5rem 0.5rem 0.5rem 0;
        }

        .bloc_du_petit_i{
            margin-left: 1rem;
            margin-right: 1rem;
        }



.Les_deux_gros_blocs{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
   
    .Hebergements{
        width: 100%;
        margin: 0;
        border-radius: 0;
        order: 2;
    }
    
        .boite_auberge_hotel{
            margin: 1rem 1rem 1rem 1rem;
            background-color: white;
            border-radius: 35px;
            padding: 0.5rem 0.5rem 1.5rem 0.5rem;
            width: 30%;
            box-shadow: 10px 10px 15px #E9E9E9;
        }
    
        .nom_auberge_hotel{
            margin: 1rem 1.5rem 1rem 0.2rem;
            width: 95%;
        }
    
        .description_auberge_hotel{
            margin: 1rem 1.5rem 1rem 0.2rem;  
            width: 95%;
        }
    
        .icones_etoiles{
            margin: 1rem 1.5rem 1rem 0.2rem; 
            width: 95%;
        }




    .Les_plus_populaires{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0rem;
        background-color: #F2F2F2;
        margin: 0;
        margin-bottom: 1rem;
        border-radius: 0;
     }

            .colonne_populaires{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        
            .boite_auberge_hotel_populaire{
                margin: 1rem 0.5rem 1rem 0.5rem;
                background-color: white;
                height: 10rem;
                border-radius: 25px;
                padding: 0.4rem;
                box-shadow: 10px 10px 15px #E9E9E9;
                display: flex;
                flex-direction: row;
            }

            .images_boites_populaire{
                width: 45%;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border-top-right-radius: 0;
            }

            .images_boites_populaire.coeur_eau{
                width: 65%;
            }
        
            .nom_auberge_hotel_populaires{
                margin: 1rem 0.1rem 1rem 0.2rem;
                width: 95%;
                margin-left: 1rem;
            }
        
            .description_auberge_hotel_populaires{
                margin: 1rem 1.5rem 1rem 0.2rem;
                width: 95%;
                margin-left: 1rem;
            }
            
            .push{
                margin-top: 2rem;
                margin-left: 1rem;
            }

}

